@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalam&family=Rubik&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #04080fff;
  --second: #a1c6eaff;
  --third: #507dbcff;
  --fourth: #bbd1eaff;
  --primary-font: "Rubik", sans-serif;
  --second-font: 'Kalam', cursive;
  --third-font: "Bebas Neue", sans-serif;
}

a {
  text-decoration: none;
}
