.table-img > img {
  height: 100px;
  width: 120px;
  object-fit: contain;
}
td {
  padding: 30px;
  border-bottom: 1px solid black;
}

td > button {
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 11px;
  cursor: pointer;
}

td > button:hover {
  color: var(--second);
}

td > span {
  display: flex;
}

.icon {
  margin-left: 5px;
}

th {
  border-bottom: 1px solid black;
  padding: 20px;
}

table {
  border-collapse: collapse;
  font-family: var(--primary-font);
  color: var(--primary);
}

.cart-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px;
}

.cart-table-container > h2 {
  padding: 50px;
}



@media(max-width:1025px){
  thead{
    display: none;
  }

  tr{
    
  }
}
