.banner {
  min-height: 45vh;
  background-color: var(--fourth);
  display: flex;
}

.banner-description {
  flex: 1;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
}

.banner-description > h3 {
  font-family: var(--third-font);
  font-size: 2rem;
  margin-bottom: 20px;
}

.banner-description > p {
  font-family: var(--primary-font);
}
.img-container {
  flex: 2;
  overflow: hidden;
}

.img-container > img {
  object-fit: cover;
  transition: transform 0.5s ease-in;
  width: 100%;
  height: 100%;
}

.img-container > img:hover {
  transform: scale(1.05);
}

@media (max-width: 1025px){
  .banner{
    flex-direction: column;
  }
}


