.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 30px;
}

.search-bar-container {
  padding: 50px;
}
