nav {
  background-color: var(--primary);
  color: white;
  font-family: var(--third-font);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 30px 20px;
  z-index: 100;
}

nav img {
  height: 50px;
  cursor: pointer;
}

.navItem {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

.navItem:hover {
  color: var(--second);
}

.cart-div {
  margin-left: auto;
}

.nav-div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.active {
  background-color: var(--second);
  color: var(--primary);
}

.active:hover {
  color: var(--primary);
}

@media (max-width: 600px) {
  .nav-div {
    gap: 10px;
  }

  .scrolled-logo {
    display: none;
  }

  nav {
    padding: 10px 5px;
  }
}
